.App {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.button {
  position: absolute;
  bottom: 50px;
  padding: 20px 40px;
  z-index: 100;
  left: calc(50% - 80px);
}
